@model List<TeacherModel>
<html>
<style>
    body {     
        background-color: #ACCFFE;
        font-family: 'Arial', sans-serif;
    }
</style>
<head>
    <title>Teachers List</title>
</head>
<body >
<main>
    <div class="table-response">
        <table class="table table-dark">
            <tr>
                <th>ID</th>
                <th>FistName</th>
                <th>LastName</th>
                <th>NationalCode</th>
                <th>TeachingArea</th>
                <th>Operation</th>
            </tr>
        </table>
    </div>
</main>
</body>
</html>